*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 2vw;
}

header nav
{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 60vw;
    background-color: rgba(160, 70, 178, 0.5);
    border-radius: 20px;


}
header h1
{   
    
    padding: 2vw;
    border-radius: 2vw;
    align-self: center;
    align-items: center;
    justify-content: center;
}

table
{
    font-family: sans-serif;
    font-size: 1vw;

}

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vw;
}

.container
{
    border: solid 2px red;
    border-radius: 20px;
}

thead
{
    background-color: rgb(103, 82, 123, 0.5);
    border-radius: 20px;
}

th
{
    padding: 3vw;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 20px;
}

td
{
    padding: 3vw;
    border-bottom: solid 2px salmon;
}

tbody
{
    background-color: rgba(187, 115, 201, 0.5);
}

tbody tr:hover
{
    background-color: bisque;
    border-radius: 20px;
}
